{{!-- The following component displays Ember's default welcome message. --}}
{{!-- welcome-page --}}

{{!-- Feel free to remove this! --}}

<div class="container">
	<div class="menu">
		{{#link-to 'index'}}
		  <h1>
		    <em>SuperRentals</em>
		  </h1>
		{{/link-to}}
		<div class="links">
		  {{#link-to 'about' class='about-link'}}
		    About
		  {{/link-to}}
		  {{#link-to 'contact' class='contact-link'}}
		    Contact
		  {{/link-to}}
		</div>
	</div>
	<div class="body">
		{{ outlet }} <!--pulls in the template for the appropriate page, based on the route in the url-->
	</div>
</div>
